/* You can add global styles to this file, and also import other style files */

body
{
  background-image: url('./assets/pexels-photo-1287145.jpg');
  background-repeat: no-repeat;
  background-size: cover;
}
.btn-action
{
  width: 60px;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #fff;
  opacity: 0.6;
  border: none;
  cursor: pointer;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  transition: 0.5s;
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -ms-transition: 0.5s;
  -o-transition: 0.5s;
  &:hover
{
    opacity: 1;
  }
}
